.landing {
  background-color: #F7EBEB
}
* {
  font-size: larger;
  font-family: 'FrankRuhlLibre-Bold';
}
@font-face {
  font-family: FrankRuhlLibre-Bold;
  src: url("../../assets/FrankRuhlLibre-Bold.ttf") format("opentype");
}