.video {
  background-color: #F7EBEB;
}
.video-empty-space {
  padding: 5%;
  min-height: 4em;
}

.door-image {
  position: relative;
  bottom: 0;
}

.video-search-window {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
}

.playlist-no-longin {
  padding: 5%;
  padding-top: 40%;
  padding-bottom: 40%;
  min-height: 4em;
  text-align: center;
}

.video-search {
  padding-left: 20%;
  padding-right: 20%;
}

.video-player {
  padding: 5%;
  padding-left: 10%;
  padding-right: 10%;
}

.video-description {
  margin: 2%;
  font-size: 1.3em;
}

.video-reminder {
  font-size: 0.75em;
}

.search-results {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  margin-left: 12.5%;
  margin-right: 12.5%;
  margin-top: 7.5%;
}

.results-video-info {
  display: flex;
  padding-bottom: 7.5%
}

.video-text-info {
  display: flex;
  flex-direction: column;
}

.video-channel {
  font-size: 1em;
}

.video-thumbnail {
  width: 380px;
  height: 200px;
  /* width: 320px;
  height: 180px; */
  padding-right: 1em;
  object-fit: cover;
}

.btn {
  background-color: white !important;
}

.btn-outline-dark:hover {
  background-color: #212529 !important;
}

.search-bar {
  border: 1px solid black !important;
}
